@charset "UTF-8";

body {
    background-color:lightgoldenrodyellow; font-family: Arial, Helvetica, sans-serif; font-size: 20px;
}
h1 {
    color: blueviolet; background-color: rgb(43, 173, 119);
}
h2 {
    color: darkred; background-color: coral;
}
p {
    text-align: justify;
}